# PyCharm
.idea/
*.iml
*.ipr
*.iws
venv/

# VS Code
.vscode/
*.code-workspace

# Visual Studio
*.suo
*.user
*.sln.docstates
*.sln.cache
*.suo
*.user
*.vshost.*
bin/
obj/
*.vsidx
/.vs/DataBaseBack/v17/.wsuo
/.vs/DataBaseBack/FileContentIndex/9648dc8b-e3a9-4eb8-9e0c-6ca3c2a94d94.vsidx
